<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Recipes</h1>
    <%= link_to 'New recipe', new_recipe_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="flex justify-between items-center">
   <%= form_with url: recepies_search_path , method: :get do |form| %>
      <%= form.label :key, "Search for:" %>
      <%= form.text_field :key %>
      <%= form.submit "Search", class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>

  <div id="recipes" class="min-w-full">
    <% @recipes.each do |recipe| %>
      <div >
        <p class="my-5">
          <strong class="block font-medium mb-1">Title:</strong>
          <%= recipe.title %>
        </p>

        <p class="my-5">
          <strong class="block font-medium mb-1">Cover:</strong>
          <%= recipe.cover %>
        </p>

        <p class="my-5">
          <strong class="block font-medium mb-1">Intro:</strong>
          <%= recipe.intro %>
        </p>

        <p class="my-5">
          <strong class="block font-medium mb-1">User:</strong>
          <%= recipe.user_id %>
        </p>

        <% if action_name != "show" %>
          <%= link_to "Show this recipe", recipe, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          <%= link_to 'Edit this recipe', edit_recipe_path(recipe), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
          <hr class="mt-6">
        <% end %>
      </div>
    <% end %>
  </div>
</div>
